<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" href="https://pngimg.com/d/mysql_PNG9.png">
    <title>MySql Form</title>
</head>
<style>
    .main {
        background-color: black;
        display: flex;
        justify-content: space-around;
        padding-top: 25px;
    }

    .main a {
        color: whitesmoke;
        text-decoration: none;
        font-size: large;
        font-family: 'Courier New', Courier, monospace;
        font-style: bold;
    }
</style>

<body>
    <div class="main">
        <a href="/add">Add Student</a>
        <a href="/search">Search Student</a>
        <a href="/update">Update Student</a>
        <a href="/delete">Delete Student</a>
        <a href="/allStudents">All Students</a>
    </div>
</body>

</html>